<footer>
    <!--[ Credit ]-->
    <div class="cdtIn section" id="credit-widget">
        <div class="widget HTML" data-version="2" id="HTML88">
            <div class="footCdt">
                <span class="credit">

                    © <span id="getYear">2023</span> ‧ <bdi><a href="https://learngraduation.blogspot.com/">Learn
                            Graduation</a></bdi>. All rights reserved.

                </span>
                <span class="creator">Diesigned by <a href="https://agnipro.web.app/">AgniPro</a></span>
            </div>
        </div>
        <div class="widget TextList" data-version="2" id="TextList88">
            <div class="toTop tTop" data-text="Top" onclick="window.scrollTo({top: 0});">
                <svg class="line" viewBox="0 0 24 24">
                    <g
                        transform="translate(12.000000, 12.000000) rotate(-180.000000) translate(-12.000000, -12.000000) translate(5.000000, 8.500000)">
                        <path d="M14,0 C14,0 9.856,7 7,7 C4.145,7 0,0 0,0"></path>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</footer>