<div class="widget HTML" data-version="2" id="HTML11">
    <input class="tocI hidden" id="forTocJs" type="checkbox">
    <div class="tocL">
        <div class="tocLi">
            <div class="tocLs">
                <label aria-label="Close" class="tocH fixH" for="forTocJs">
                    <div class="tocC">
                        <svg class="rad" viewBox="0 0 160 160">
                            <path d="M0-10,150,0l10,150S137.643,80.734,100.143,43.234,0-10,0-10Z"
                                transform="translate(0 10)"></path>
                        </svg>
                        <span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(3.610000, 2.750100)">
                                    <line x1="11.9858" x2="4.7658" y1="12.9463" y2="12.9463"></line>
                                    <line x1="11.9858" x2="4.7658" y1="9.1865" y2="9.1865"></line>
                                    <line x1="7.521" x2="4.766" y1="5.4272" y2="5.4272"></line>
                                    <path
                                        d="M7.63833441e-14,9.25 C7.63833441e-14,16.187 2.098,18.5 8.391,18.5 C14.685,18.5 16.782,16.187 16.782,9.25 C16.782,2.313 14.685,0 8.391,0 C2.098,0 7.63833441e-14,2.313 7.63833441e-14,9.25 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                        <svg class="rad in" viewBox="0 0 160 160">
                            <path d="M0-10,150,0l10,150S137.643,80.734,100.143,43.234,0-10,0-10Z"
                                transform="translate(0 10)"></path>
                        </svg>
                    </div>
                    <div class="tocT fixT" data-text="Contents">
                        <span class="c cl" data-texxt="Close"></span>
                    </div>
                </label>
                <div class="tocIn" id="tocAuto">
                    <ol>
                        <li><a href="#_Allegory_">
                                Allegory
                            </a></li>
                        <li><a href="#_Alliteration_">
                                Alliteration
                            </a></li>
                        <li><a href="#_Allusion_">
                                Allusion
                            </a></li>
                        <li><a href="#_Anachronism_">
                                Anachronism
                            </a></li>
                        <li><a href="#_Anagram_">
                                Anagram
                            </a></li>
                        <li><a href="#_Analogy_">
                                Analogy
                            </a></li>
                        <li><a href="#_Anaphora_">
                                Anaphora
                            </a></li>
                        <li><a href="#_Antagonist_">
                                Antagonist
                            </a></li>
                        <li><a href="#_Antihero/Antiheroine_">
                                Antihero/Antiheroine
                            </a></li>
                        <li><a href="#_Antithesis_">
                                Antithesis
                            </a></li>
                        <li><a href="#_Aphorism_">
                                Aphorism
                            </a></li>
                        <li><a href="#_Apostrophe_">
                                Apostrophe
                            </a></li>

                    </ol>
                </div>
                <script>
                    /*<![CDATA[*/
                    document.addEventListener('DOMContentLoaded', () => new TableOfContents({
                        from: document.querySelector('#postBody'),
                        to: document.querySelector('#tocAuto')
                    }).generateToc()); /*]]>*/
                </script>
            </div>
        </div>
        <label class="fCls" for="forTocJs"></label>
    </div>
</div>