<div class="widget Label" data-version="2" id="Label00">
    <h3 class="title">
        Labels
    </h3>
    <div class="wL pSml bg ls">
        <ul>
            <li>
                <a aria-label="Under Graduate" class="lbN"
                    href="https://learngraduation.blogspot.com/search/label/Under%20Graduate">
                    <span class="lbT">Under Graduate</span>
                    <span class="lbR">
                        <span class="lbC" data-text="31"></span>
                        <svg class="line" viewBox="0 0 24 24">
                            <g transform="translate(4.500000, 2.500000)">
                                <path
                                    d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                </path>
                            </g>
                        </svg>
                    </span>
                </a>
            </li>
            <li>
                <a aria-label="Bsc" class="lbN"
                    href="https://learngraduation.blogspot.com/search/label/Bsc">
                    <span class="lbT">Bsc</span>
                    <span class="lbR">
                        <span class="lbC" data-text="27"></span>
                        <svg class="line" viewBox="0 0 24 24">
                            <g transform="translate(4.500000, 2.500000)">
                                <path
                                    d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                </path>
                            </g>
                        </svg>
                    </span>
                </a>
            </li>
            <li>
                <a aria-label="Mathematics" class="lbN"
                    href="https://learngraduation.blogspot.com/search/label/Mathematics">
                    <span class="lbT">Mathematics</span>
                    <span class="lbR">
                        <span class="lbC" data-text="26"></span>
                        <svg class="line" viewBox="0 0 24 24">
                            <g transform="translate(4.500000, 2.500000)">
                                <path
                                    d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                </path>
                            </g>
                        </svg>
                    </span>
                </a>
            </li>
            <li>
                <a aria-label="khel-khel_mein_ganit_seekhen" class="lbN"
                    href="https://learngraduation.blogspot.com/search/label/khel-khel_mein_ganit_seekhen">
                    <span class="lbT">khel-khel_mein_ganit_seekhen</span>
                    <span class="lbR">
                        <span class="lbC" data-text="26"></span>
                        <svg class="line" viewBox="0 0 24 24">
                            <g transform="translate(4.500000, 2.500000)">
                                <path
                                    d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                </path>
                            </g>
                        </svg>
                    </span>
                </a>
            </li>
            <li>
                <a aria-label="mathematical tips and trick" class="lbN"
                    href="https://learngraduation.blogspot.com/search/label/mathematical%20tips%20and%20trick">
                    <span class="lbT">mathematical tips and trick</span>
                    <span class="lbR">
                        <span class="lbC" data-text="26"></span>
                        <svg class="line" viewBox="0 0 24 24">
                            <g transform="translate(4.500000, 2.500000)">
                                <path
                                    d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                </path>
                            </g>
                        </svg>
                    </span>
                </a>
            </li>
            <li>
                <a aria-label="Syllabus" class="lbN"
                    href="https://learngraduation.blogspot.com/search/label/Syllabus">
                    <span class="lbT">Syllabus</span>
                    <span class="lbR">
                        <span class="lbC" data-text="21"></span>
                        <svg class="line" viewBox="0 0 24 24">
                            <g transform="translate(4.500000, 2.500000)">
                                <path
                                    d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                </path>
                            </g>
                        </svg>
                    </span>
                </a>
            </li>
        </ul>
        <div class="lbSh">
            <input class="lbIn hidden" id="lbAl-2" type="checkbox">
            <ul class="lbAl">
                <li>
                    <a aria-label="graduation" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/graduation">
                        <span class="lbT">graduation</span>
                        <span class="lbR">
                            <span class="lbC" data-text="9"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="Physics" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/Physics">
                        <span class="lbT">Physics</span>
                        <span class="lbR">
                            <span class="lbC" data-text="8"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="English Syllabus" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/English%20Syllabus">
                        <span class="lbT">English Syllabus</span>
                        <span class="lbR">
                            <span class="lbC" data-text="7"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="Notes" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/Notes">
                        <span class="lbT">Notes</span>
                        <span class="lbR">
                            <span class="lbC" data-text="7"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="e-Book" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/e-Book">
                        <span class="lbT">e-Book</span>
                        <span class="lbR">
                            <span class="lbC" data-text="7"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="PHYSICS Syllabus" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/PHYSICS%20Syllabus">
                        <span class="lbT">PHYSICS Syllabus</span>
                        <span class="lbR">
                            <span class="lbC" data-text="6"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="JEE- Main &amp; Advanced" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/JEE-%20Main%20%26%20Advanced">
                        <span class="lbT">JEE- Main &amp; Advanced</span>
                        <span class="lbR">
                            <span class="lbC" data-text="2"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="Nobel" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/Nobel">
                        <span class="lbT">Nobel</span>
                        <span class="lbR">
                            <span class="lbC" data-text="2"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="BSc previous year question papers" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/BSc%20previous%20year%20question%20papers">
                        <span class="lbT">BSc previous year question papers</span>
                        <span class="lbR">
                            <span class="lbC" data-text="1"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="Chemistry" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/Chemistry">
                        <span class="lbT">Chemistry</span>
                        <span class="lbR">
                            <span class="lbC" data-text="1"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
                <li>
                    <a aria-label="VBU" class="lbN"
                        href="https://learngraduation.blogspot.com/search/label/VBU">
                        <span class="lbT">VBU</span>
                        <span class="lbR">
                            <span class="lbC" data-text="1"></span>
                            <svg class="line" viewBox="0 0 24 24">
                                <g transform="translate(4.500000, 2.500000)">
                                    <path
                                        d="M7.47024319,0 C1.08324319,0 0.00424318741,0.932 0.00424318741,8.429 C0.00424318741,16.822 -0.152756813,19 1.44324319,19 C3.03824319,19 5.64324319,15.316 7.47024319,15.316 C9.29724319,15.316 11.9022432,19 13.4972432,19 C15.0932432,19 14.9362432,16.822 14.9362432,8.429 C14.9362432,0.932 13.8572432,0 7.47024319,0 Z">
                                    </path>
                                </g>
                            </svg>
                        </span>
                    </a>
                </li>
            </ul>
            <label aria-label="Show labels" class="lbM" data-hide="Show less" data-show="Show more"
                data-text="(+11)" for="lbAl-2" role="button"></label>
        </div>
    </div>
</div>