<div class="section" id="notif-widget">
    <div class="widget HTML" data-version="2" id="HTML0">
        <input class="ntfI hidden" id="forNft" type="checkbox">
        <div class="ntfC">
            <div class="ntfT">
                <div class="ntfA">
                    <span>

                        Download LearnGraduation Android App Now

                    </span>
                    <a href="https://drive.google.com/uc?id=1Hp4fKp8lN2Iikx63EF3CBUDTzST7IKpj">Get now!</a>
                </div>
            </div>
            <label aria-label="Close Menu" class="c" for="forNft"></label>
        </div>
    </div>
</div>